/*criando variaveis em css*/
:root{
    --global-background:#9932cc;
    --global-purple: #9932cc;
}
.bg-purple{
    /*Chamando nossa variavel*/
    background: var(--global-background);
}
.logo{
    max-width: 300px;
    width: 100%;
    height: 30px;
}
#home .row .col-md-6 .img{
    max-height: 600px;
    max-width: 500px;
    width: 100%;
    height: 100%;
}