*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: white;
}

/* tag header começo*/
.cabecalho{
    background-color: rgb(65,105,225);
    min-height: 230px;
    margin-bottom: 50px;
}
.cabecalho div{
    width: 750px;
    margin: 0 auto;
}

.logo{
    width: 140px;
    height: 110px;
    padding-top: 20px;
}
.cabecalho ul{
    list-style: none;
    float: left;
    margin-top: 30px;
    background-color: white;
}
.cabecalho ul>li{
    float: left;
} 
.cabecalho ul>li a{
    line-height: 3.5em;
    color: rgb(65,105,225);
    font-weight: 700;
    text-decoration: none;
    font-size: 16px;
    padding: 10px 20px;
}
.cabecalho ul>li a:hover, .cabecalho ul>li:hover{
    color: white;   
    background-color:rgb(65, 105, 255) ;
}
/*Coluna lateral*/
.coluna-lateral{
    float: left;
    width: 180px;
    margin: 0 10px 10px 0;
}
div.container{
    width: 750px;
    margin: 0 auto;
}
.coluna-lateral h2{
    padding: 10px;
    color: white;
    background-color: rgb(65,105,225);
}
.coluna-lateral .caixa{
    min-height: 500px;
    margin-bottom: 50px;
}
.coluna-lateral .link-lateral li{
    margin-top: 30px;
}
.coluna-lateral .link-lateral li>a{
    text-decoration: none;
    color: rgb(65, 105, 255);
    font-size: 16px;
    font-weight: bold;
}
.coluna-lateral .link-lateral li a:hover{
    color: white;
    background-color: rgb(65, 105, 255);
    padding: 5px ;
}

ul.link-lateral{
    list-style: none;
}

/*Coluna de aplicativo*/
.corpo .col_aplicativo, .corpo .col_tema{
    float: left;
    margin: 0px 10px 10px 0px;
    width: 270px;
}
.corpo .col_aplicativo h2{
    padding: 10px;
    color: white;
    background-color: rgb(65,105,255);
}
.corpo .col_aplicativo .caixa .app img{
    max-width: 400px;
    width: 100%;
}
.corpo .col_aplicativo .caixa .app h3{
    color:  rgb(65, 105, 255);
    margin-top: 10px;
    margin-bottom: 10px;
}
.corpo .col_aplicativo .caixa .app p{
    color: rgb(65, 105, 255);
    margin-bottom: 10px;
}
.corpo .col_aplicativo .caixa .app p a{
    margin-bottom: 10px;
    display: block;
}

/*Coluna de tema*/
.corpo .col_tema .caixa h2{
    padding: 10px;
    color: white;
    background-color: rgb(65, 105, 255);
}
.corpo .col_tema .tema{
    margin-top: 10px;
}
.col_tema .tema img{
    max-width: 400px;
    width: 100%;
}
.col_tema .tema h3{
    margin-top: 10px;
    color: rgb(65, 105, 255);
    margin-bottom: 10px;
}
.col_tema .tema p{
    color: rgb(65, 105, 255);
    margin-bottom: 10px;
}
.col_tema .tema a{
    margin-top: 10px;
}
.rodapé{
    background-color: rgb(65, 105, 255);
    height: 200px;
    clear: both;
}
.rodapé div{
    margin-top: 40px;
    text-align: center;
    font-weight: 700;
    color: white;
    font-size: 16px;
}
.rodapé div p{
    padding: 10px;
}