body{
    display: flex;
    justify-content: center;

}
div{
    width: 500px;
    height: 500px;
    border: 1px solid black;
}
div #aprovado{
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    color: green;
}
div #reprovado{
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    color: red;
}
